<div *ngIf="dataLoaded; else elseBlock" class="setting">
    <div >
        Select number of city/stations to show:&nbsp; 
        <p></p>
        <input style="position: absolute; top: 47px; left: 150px" type="number"min="1" max="100" [(ngModel)]="numberofResults" name="numberofResults" (input)="onChange($evt)">&nbsp;
        <input type="range" min="1" max="100" [(ngModel)]="numberofResults" name="numberofResults" (input)="onChange($evt)">
    </div>
    <div>
    <div>
    
        Show optimum weather for: 
        <input type="radio" name="gender" [(ngModel)]="gender" value="male"  (change)="onGenderChange(evt)"  checked> Male
        <input type="radio" name="gender" [(ngModel)]="gender" value="female" (change)="onGenderChange(evt)"> Female
        <br><br>Click on a table row to locate on map
    </div>
    </div>
    <div style="overflow: auto; height:200px;max-height: 200px;">
  <table>
      <thead>
    <TR >
        <th class="header">City/Station Name:
        </th>
        <th class="header">Temperture</th>
        <th class="header">Humidity</th>
    </TR>
        </thead>
        <tbody>
      <TR *ngFor="let city of cities" (click)="flyTo(city)">
        <TD>{{city.name}}</TD>
        <TD>{{city.main.temp}}</TD>
        <TD>{{city.main.humidity}}</TD>
      </TR>
    </tbody>
    </table>
    </div>

</div>
<ng-template #elseBlock>

  <div style="width:100px; height:100px;" class="loader"></div>
  Loading weather data!!!!

</ng-template>
<div style="width:100%; height:300px;" id="mapid" ></div>

